#test {
	display: none;
}
#test:checked ~ label, #test:checked ~ img {
	opacity: 1;
}

.dimension_profil{
	width: 20px;
	height: 250px;
	border-radius: 40px;
	position: relative;
	overflow: hidden;
	opacity: 0.5;
	transition: 0.5s;
}

.dimension_profil.active {
	opacity: 1;
	transition: 0.5s;
}
.dimension_profil.active:hover {
	opacity: unset;
}

.dimension_profil:hover{
	opacity: 0.7;
	cursor: pointer;
}

.dimension_profil img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	object-position: bottom;
}

.btn_center {
	width: auto;
	text-align: center;
}

.formulaire_ajout {
	width: clamp(300px, 55%, 800px);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	background: #198754;
	gap: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}
.formulaire_ajout input {
	padding: 5px;
	outline: none;
	border: none;
	border-radius: 10px;
	flex: 1;
}